.addProduct {
  min-height: calc(100vh - 80px); /* adjust for navbar height */

  /* min-width:500px; */
}
.add-product {
  max-width: 550px;
  margin: 0 auto;
}

.page-title {
  color: var(--color-secondary);
  margin-bottom: 25px;
  text-align: center;
}

.add-product-form {
  background: var(--color-white);
  padding: 25px;
  max-width: 550px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Form Groups */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 15px;
  margin-bottom: 6px;
  color: var(--color-accent);
  font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px 12px;
  border: 1px solid var(--color-muted);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(19, 64, 116, 0.2);
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background: var(--color-primary);
  border: none;
  color: var(--color-white);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
}

.submit-btn:hover {
  background: var(--color-accent);
}

.loading {
  display: block;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 600px) {
  .addProduct {
    padding: 20px;
  }

  .add-product-form {
    padding: 20px;
  }
}
