* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--color-accent);
}

/* ================================
   NAVBAR
   ================================ */
.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--color-primary);
  color: var(--text-white);
}

.nav-brand {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-white);
}

.home-nav .nav-links a {
  margin-left: 24px;
  font-weight: 500;
  color: var(--color-white);
}

.home-nav .nav-links a:hover {
  color: var(--color-muted);
}

/* ================================
   HERO SECTION
   ================================ */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    var(--color-secondary),
    var(--color-primary)
  );
  color: var(--color-white);
  text-align: center;
  padding: 48px 32px;
}

.hero-content {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero h1 span {
  color: var(--color-muted);
}

/* HERO BUTTONS */

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.hero-buttons a {
  background-color: var(--color-white);
  color: var(--color-accent);
  padding: 12px 24px;
  border-radius: var(--radius);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition);
}

.hero-buttons a:hover {
  background-color: var(--btn-primary-hover);
  color: var(--color-white);
}

/* ================================
   FEATURES SECTION
   ================================ */
.features {
  padding: 64px 0;
  background-color: var(--color-white);
  text-align: center;
}

.features h2 {
  color: var(--color-secondary);
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 32px;
  padding: 0px 40px;
  margin-top: 32px;
}

.feature-card {
  /* background-color: var(--color-muted); */
  padding: 32px;
  border-radius: var(--radius);
  color: var(--color-primary);
  box-shadow: var(--box-shadow-medium);
  transition: var(--transition);
}

.feature-card h3 {
  margin-bottom: 12px;
  color: var(--color-secondary);
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: var(--box-shadow);
}

/* ================================
   FOOTER
   ================================ */
.home-footer {
  background-color: var(--color-accent);
  color: var(--color-white);
  text-align: center;
  padding: 24px;
  margin-top: 32px;
}
